*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #22212c;
    display: grid;
    grid-template-areas: 
    "aside main";
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
}
.container{
    grid-area: main;
    margin-bottom: 16px;
    border-style: none;
    border-radius: 10px;
}
#profile{
    border: solid 2px #302f3d;
    width: 248px;
    height: 192px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile img{
    width: 90px;
    margin: 0;
    border: 2.5px solid #00ff00;
    border-radius: 50%;
}
.containerLinks{
    border-radius: 10px;
    width: 248px;
    height: 248px;
    background-color: #5c5b61;
    display: flex;
}
#links{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    height: 248px;
}
#linkDescryption{
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
    height: 248px;
}
#links img{
    display: flex;
    width: 23px;
}
#technologies{
    border: solid 2px #302f3d;
    width: 248px;
    height: 208px;
    background-color: #5c5b61;
    display: flex;
    flex-wrap: wrap;
}
#technologies p{
    border: solid 5px #00ff00;
    background: local #00ff00;
    height: 12px;
    width: 60px;
    margin-right: 3px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    font-weight: 1000;
}
#technologies h4{
    width: 248px;
}
#experiences{
    border: solid 2px #302f3d;
    width: 248px;
    height: 249px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;    
}
#experiences h4{
    width: 248px;
}
#experiences ul li{
    width: 200px;
    font-size: 14px;
    line-height: 20px;
}
#education{
    border: solid 2px #302f3d;
    width: 248px;
    height: 252px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#education h4{
    width: 248px;
}
#education ul li{
    width: 200px;
    font-size: 14px;
    line-height: 20px;
}
  /*Estilização do Main*/
.containerMain{
    grid-area: aside;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 0;
}
#myProjects{
    border: solid 2px #302f3d;
    width: 852px;
    height: 86px;
    background-color: #5c5b61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
#containerProject{
    width: 852px;
    height: 188px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
#project-1{
    border: solid 2px #302f3d;
    width: 411px;
    height: 186px;
    background-color: #5c5b61;
}
#project-2{
    border: solid 2px #302f3d;
    width: 411px;
    height: 186px;
    background-color: #5c5b61;
}
#recentPosts{
    border: solid 2px #302f3d;
    width: 852px;
    height: 86px;
    background-color: #5c5b61;
}
#posts{
    border: solid 2px #302f3d;
    width: 852px;
    height: 86px;
    background-color: #5c5b61;
}
