
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0f0f0f;
    color: #837e9f;
    font-family: "Merriweather Sans";
    display: grid;
    grid-template-areas: 
    "aside main";
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
}
.container{
    grid-area: main;
    margin-bottom: 16px;
    border-style: none;
    border-radius: 10px;
}
#profile{
    border: solid 2px #302f3d;
    width: 248px;
    height: 192px;
    background-color: #292122;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile img{
    width: 90px;
    margin: 0;
    border: 2.5px solid #00ff00;
    border-radius: 50%;
}
.containerLinks{
    border-radius: 10px;
    width: 248px;
    height: 248px;
    background-color: #5c5b61;
    display: flex;
}
#links{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    height: 248px;
}
#linkDescryption{
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
    height: 248px;
}
#links img{
    display: flex;
    width: 23px;
}
#technologies{
    border: solid 2px #302f3d;
    width: 248px;
    height: 208px;
    background-color: #5c5b61;
    display: flex;
    flex-wrap: wrap;
}
#technologies p{
    border: solid 5px #00ff00;
    background: local #00ff00;
    height: 12px;
    width: 60px;
    margin-right: 3px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    font-weight: 1000;
}
#technologies h4{
    width: 248px;
}
#experiences{
    border: solid 2px #302f3d;
    width: 248px;
    height: 249px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;    
}
#experiences h4{
    width: 248px;
}
#experiences ul li{
    width: 200px;
    font-size: 14px;
    line-height: 20px;
}
#education{
    border: solid 2px #302f3d;
    width: 248px;
    height: 252px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#education h4{
    width: 248px;
}
#education ul li{
    width: 200px;
    font-size: 14px;
    line-height: 20px;
}
  /*Estilização do Main*/
.containerMain{
    grid-area: aside;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 0;
}
#myProjects{
    border: solid 2px #302f3d;
    width: 792px;
    height: 86px;
    background-color: #5c5b61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.containerProject{
    width: 852px;
    height: 188px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#project-1{
    border: solid 2px #302f3d;
    border-radius: 10px;
    width: 411px;
    height: 186px;
    margin: 0;
    background-color: #5c5b61;
    display: flex;
    flex-direction: column;
}
#topProject-1{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#centerProject-1{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    align-items: center;
    text-align: justify;
}
#bottomProject-1{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    margin-bottom: 1%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.bottomProjectJavascript{
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#project-2{
    border: solid 2px #302f3d;
    border-radius: 10px;
    width: 411px;
    height: 186px;
    display: flex;
    flex-direction: column;
    background-color: #5c5b61;
}
#topProject-2{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#centerProject-2{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    align-items: center;
    text-align: justify;
}
#bottomProject-2{
    border: solid 2px gold;
    width: 380px;
    height: 35px;
    margin-bottom: 1%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#recentPosts{
    border: solid 2px #302f3d;
    width: 852px;
    height: 66px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#posts{
    border: solid 2px #302f3d;
    width: 852px;
    height: 146px;
    background-color: #5c5b61;
    display: flex;
    flex-direction: row;
}
#photoPerfilPosts{
    border: solid 2px #1d301d;
    width: 146px;
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#photoPerfilPosts img{
    border: solid 2.5px #00ff00;
    border-radius: 50%;
    width: 90px;
}
#elemnetsPosts{
    border: solid 2px #00ff00;
    width: 680px;
    height: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#elementPosts-1{
    border: solid 2px #00ff00;
    width: 600px;
    height: 35px;
}
#elementPosts-2{
    border: solid 2px #00ff00;
    width: 600px;
    height: 35px;
}
